@import 'reset.css';

body {
    background-color: #f6f9fc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas {
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls__btns {
    margin-bottom: 30px;
}

.controls__btns button {
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border:rgba(0, 0, 0, 0.2) 2px solid;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}

.controls__btns button:active {
    transform: scale(0.98);
}

.controls .controls__colors {
    display: flex;
    margin-bottom: 10px;
}

.controls__colors .controls__color{
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    cursor: pointer;
}

.controls .controls__range {
    margin-bottom: 30px;
}

input[type=range] {
    width: 100%;
    margin: 8px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #ffffff;
    border: 1px solid rgba(1, 1, 1, 0.3);
    border-radius: 8px;
    width: 100%;
    height: 10px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -9px;
    width: 26px;
    height: 26px;
    background: #ffffff;
    border: 1.5px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    background: #ffffff;
    border: 1px solid rgba(1, 1, 1, 0.3);
    border-radius: 8px;
    width: 100%;
    height: 10px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 26px;
    height: 26px;
    background: #ffffff;
    border: 1.5px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 8.9px 0;
    color: transparent;
    width: 100%;
    height: 10px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #f2f2f2;
    border: 1px solid rgba(1, 1, 1, 0.3);
    border-radius: 16px;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 1px solid rgba(1, 1, 1, 0.3);
    border-radius: 16px;
  }
  input[type=range]::-ms-thumb {
    width: 26px;
    height: 26px;
    background: #ffffff;
    border: 1.5px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
  }